body {
    color:white;
    background-color:rgb(0, 0, 19);
}

.Clouds {
    background-image: url("./images/clouds-artem-anokhin.jpg");
}

footer a {
    height: 20px;
    width: 20px;
}

footer img {
    height: 20px;
}