html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color:white;
    background-color:rgb(0, 0, 19);
}

header {
    position: fixed;
    top: 0px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wc800 {
    /*Clear*/
    background: url("./images/clear-desert-ali-morrie.jpg");

}

.wc804, .wc803,.wc802 {
    /*Broken Clouds - 50%-84%*/
    background: url("./images/clouds-artem-anokhin.jpg");
}

.wc801 {
    /*Few Clouds - 11%-25%*/
    background: url("./images/one-cloud-aziz-ayad.jpg");
}

.wc200, .wc201, .wc202, .wc210, .wc211, 
.wc212, .wc221, .wc230, .wc231, .wc232 {
    /*ThunderStorm*/
    background: url("./images/thunderstorm-asos-mansour.jpg");
}

footer {
    position: fixed;
    bottom: 0px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(114, 113, 113, 0.418);
}


footer a {
    height: 20px;
    width: 20px;
}

footer img {
    height: 20px;
    width: 20px;
}

.wc600, .wc601, .wc602, .wc611, .wc612, .wc613,
 .wc615, .wc616, .wc620, .wc621, .wc622 {
    /*Snow*/
    background: url("./images/snow-gabriel-alenius.jpg");
 }

 .wc500, .wc501, .wc502, .wc503, .wc504,
  .wc511, .wc520, .wc521, .wc522, .wc531 {
    /* Rain */
    background: url("./images/rain.jpg");
  } 
.wc300, .wc301, .wc302, .wc310, .wc311, 
.wc312, .wc313, .wc314, .wc321 {
    /* Drizzle */
    background: url("./images/drizzle-anant-chandra.jpg");
}